<?xml version="1.0"?>
<configuration>
    <system.web>
        <pages validateRequest="false">
            <controls>
                <add tagPrefix="suvg" namespace="PageEditor.Unleashed.Controls" assembly="PageEditor.Unleashed.Classes" />
                <add tagPrefix="sc" namespace="Sitecore.Web.UI.WebControls" assembly="Sitecore.Kernel"/>
            </controls>
            <namespaces>
                <add namespace="PageEditor.Unleashed.Extensions"/>
            </namespaces>
        </pages>
    </system.web>
</configuration>
