<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <getPlaceholderRenderings>
                <processor type="PageEditor.Unleashed.Pipelines.GetPlaceholderRenderings.GetDynamicKeyAllowedRenderings, PageEditor.Unleashed.Classes"
                           patch:before="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']"/>
            </getPlaceholderRenderings>
            <getChromeData>
                <processor type="Sitecore.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Kernel">
                    <patch:attribute name="type">PageEditor.Unleashed.Pipelines.GetChromeData.GetDynamicKeyPlaceholderChromeData, PageEditor.Unleashed.Classes</patch:attribute>
                </processor>
            </getChromeData>
        </pipelines>
    </sitecore>
</configuration>