<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <getRenderingDatasource>
                <processor type="PageEditor.Unleashed.Pipelines.GetRenderingDatasource.CreateContentFolder, PageEditor.Unleashed.Classes"
                           patch:before="processor[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']"/>
            </getRenderingDatasource>
        </pipelines>
    </sitecore>
</configuration>